.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
<<<<<<< HEAD
=======
  animation: rotation 20s infinite linear;
>>>>>>> 6e085d7 (first project with sorted files by BEM)
}
