.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

[class*="link"] {
  opacity: 1;
  transition: 0.4s;
}

[class*="link"]:hover {
  opacity: 0.5;
}
